{# Show message headers #}
{% load i18n %}
{% load addresstags %}

<div class="subject">
  {% if message.deleted %}
    {% trans "MESSAGE MARKED DELETED! -" %}
  {% endif %}
  {% if message.envelope.env_subject %}
    {{ message.envelope.env_subject }}
  {% else %}
    {% trans "(No subject)" %}
  {% endif %}
</div>

<div class="fields">
  <table>
    {% if message.envelope.env_from %}
    <tr>
    <th>{% trans "From:" %}</th>
    <td>{% for addr in message.envelope.env_from %}
        {{addr.0}} &lt;{{addr.1}}&gt;&nbsp;
        {% ifhasaddr addr %}
          <img src="{{ STATIC_URL }}img/rating.svg"
               width="16px"
               height="16px"
               alt="Bookmarked">
        {% else %}
          <a href="{% url 'add_address' %}?{% if addr.0 %}first_name={{addr.0|first_name}}&last_name={{addr.0|last_name}}&{% endif %}email={{addr.1}}&next={% url 'mailapp-message' folder=folder.url uid=uid %}">
            <img src="{{ STATIC_URL }}img/rating-unrated.svg"
                 width="16px"
                 height="16px"
                 alt="Not bookmarked">
          </a>
        {% endifhasaddr %}
    {% endfor %}</td>
    </tr>
    {% endif %}

    {% if message.envelope.env_to %}
    <tr>
    <th>{% trans "To:" %}</th>
    <td>{% for addr in message.envelope.env_to %}
        {{addr.0}} &lt;{{addr.1}}&gt;&nbsp;
        {% ifhasaddr addr %}
          <img src="{{ STATIC_URL }}img/rating.svg"
               width="16px"
               height="16px"
               alt="Bookmarked">
        {% else %}
          <a href="{% url 'add_address' %}?{% if addr.0 %}first_name={{addr.0|first_name}}&last_name={{addr.0|last_name}}&{% endif %}email={{addr.1}}&next={% url 'mailapp-message' folder=folder.url uid=uid %}">
            <img src="{{ STATIC_URL }}img/rating-unrated.svg"
                 width="16px"
                 height="16px"
                 alt="Not bookmarked">
          </a>
        {% endifhasaddr %}
    {% endfor %}</td>
    </tr>
    {% endif %}

    {% if message.envelope.env_cc %}
    <tr>
    <th>{% trans "Cc:" %}</th>
    <td>{% for addr in message.envelope.env_cc %}
        {{addr.0}} &lt;{{addr.1}}&gt;&nbsp;
        {% ifhasaddr addr %}
          <img src="{{ STATIC_URL }}img/rating.svg"
               width="16px"
               height="16px"
               alt="Bookmarked">
        {% else %}
          <a href="{% url 'add_address' %}?{% if addr.0 %}first_name={{addr.0|first_name}}&last_name={{addr.0|last_name}}&{% endif %}email={{addr.1}}&next={% url 'mailapp-message' folder=folder.url uid=uid %}">
            <img src="{{ STATIC_URL }}img/rating-unrated.svg"
                 width="16px"
                 height="16px"
                 alt="Not bookmarked">
          </a>
        {% endifhasaddr %}
    {% endfor %}</td>
    </tr>
    {% endif %}

    {% if message.envelope.env_bcc %}
    <tr>
    <th>{% trans "Bcc:" %}</th>
    <td>{% for addr in message.envelope.env_bcc %}
        {{addr.0}} &lt;{{addr.1}}&gt;&nbsp;
        {% ifhasaddr addr %}
          <img src="{{ STATIC_URL }}img/rating.svg"
               width="16px"
               height="16px"
               alt="Bookmarked">
        {% else %}
          <a href="{% url 'add_address' %}?{% if addr.0 %}first_name={{addr.0|first_name}}&last_name={{addr.0|last_name}}&{% endif %}email={{addr.1}}&next={% url 'mailapp-message' folder=folder.url uid=uid %}">
            <img src="{{ STATIC_URL }}img/rating-unrated.svg"
                 width="16px"
                 height="16px"
                 alt="Not bookmarked">
          </a>
        {% endifhasaddr %}
    {% endfor %}</td>
    </tr>
    {% endif %}

    {% if message.envelope.env_date %}
    <tr>
    <th>{% trans "Date:" %}</th>
    <td>{{ message.envelope.env_date }}</td>
    </tr>
    {% endif %}
  </table>
</div>
